# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    Shop\Common\Service\ConsulServiceDiscovery:
        arguments:
            $serviceHost: '%env(SERVICE_HOST)%'
            $serviceName: '%env(SERVICE_ID)%'
            $servicePort: '%env(int:APP_PORT)%'
            $consulHost: '%env(CONSUL_HOST)%'
        autowire: true
        autoconfigure: true
        public: false
    Shop\Common\Contract\ServiceDiscoveryInterface: '@Shop\Common\Service\ConsulServiceDiscovery'

    App\Command\ServiceDiscoveryRegisterCommand:
        tags: [ 'console.command' ]

    Shop\Common\Health\HealthStatusProvider:
        autowire: true
        autoconfigure: true

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
